<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Fallout" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" sizes="32x32" type="image/x-icon">
    <link rel="icon" href="/soup.png" type="image/png">
    <link rel="apple-touch-icon" href="/soup.png">

    <%= stylesheet_link_tag :app %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>

    <script async src="https://plausible.io/js/pa-1TkRR_HEeBPGACPaAmnCu.js"></script>
    <script>
      window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};
      plausible.init()
    </script>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
